h1{
    text-align: center; /* aligns h1 tag text in middle of the webpage */
    background-color: beige; /* sets the h1 background as beige color */
    color: black; /* sets the h1 text color as black color */
}